{% load helpers %}
{# renders panel on object (device, module, inventory_item) with firmware info assigned to it #}

<div class="card">
  <h5 class="card-header">
    Assignments
    {% if perms.netbox_firmware.change_bios %}
    <div class="card-actions">
      <a href="{% url 'plugins:netbox_firmware:biosassignment_add' %}?bios={{object.id}}" class="btn btn-sm btn-ghost-primary">
        <i class="mdi mdi-vector-link" aria-hidden="true"></i> Add Assignment
      </a>
    </div>
  {% endif %}
  </h5>
  <!--check if firmware item is filled and then show name version and status that is given-->
  {% if assignments %}
  <div class="card-body">
    <a href="{% url 'plugins:netbox_firmware:biosassignment_list' %}?bios_id={{ object.pk }}" class="list-group-item list-group-item-action d-flex justify-content-between">
      {{ 'Assignments'|bettertitle }}
      {% if count %}
        <span class="badge text-bg-primary rounded-pill">{{ count }}</span>
      {% else %}
        <span class="badge text-bg-light rounded-pill">&mdash;</span>
      {% endif %}
    </tr>
    </a>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Description</th>
          <th>Patch date</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignments %}
          <tr>
            <td><a href="{% url 'plugins:netbox_firmware:biosassignment' assignment.id %}">{{ assignment }}</a></td>
            <td>{{ assignment.bios.status }}</td>
            <td>{{ assignment.description }}</td>
            <td>{{ assignment.patch_date }}</td>
            {% if actions %}
              <td class="bulk-action-buttons" hx-swap-oob="outerHTML:.bulk-action-buttons">
                {% if 'update' in actions %}
                  {% bulk_edit_button model query_params=request.GET %}
                {% endif %}
                {% if 'delete' in actions %}
                  {% bulk_delete_button model query_params=request.GET %}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="card-body">
    <p class="card-text">No assignments</p>
  </div>
{% endif %}
</div>