{% load helpers %}
{# renders panel on object (device, module, inventory_item) with firmware info assigned to it #}

<div class="card">
  <h5 class="card-header">
    Firmware 
    {# only show reassign button if user has change permissions on firmware #}
    {% if perms.netbox_firmware.change_firmware %}
      <div class="card-actions">
        {% with object|meta:"model_name" as object_type %}
        {% if object_type == "device" %}
        <a href="{% url 'plugins:netbox_firmware:firmware_device_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% elif object_type == "module" %}
        <a href="{% url 'plugins:netbox_firmware:firmware_module_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% elif object_type == "inventoryitem" %}
        <a href="{% url 'plugins:netbox_firmware:firmware_inventoryitem_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% endif %}
        {% endwith %}
          <i class="mdi mdi-vector-link" aria-hidden="true"></i> Edit Assignment
        </a>
      </div>
    {% endif %}
  </h5>
  <!--check if firmware item is filled and then show name version and status that is given-->
  {% if assignments %}
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Description</th>
            <th>Patch date</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in assignments %}
          <tr>
            <td><a href="{% url 'plugins:netbox_firmware:firmware' assignment.firmware.id %}">{{ assignment.firmware.name }}</a></td>
            <td>{{ assignment.firmware.status }}</td>
            <td>{{ assignment.description }}</td>
            <td>{{ assignment.patch_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="card-body">
      <p class="card-text">No firmware assigned voor {{ object }}</p>
    </div>
  {% endif %}
</div>