{% load helpers %}
{# renders panel on object (device, module, inventory_item) with firmware info assigned to it #}

<div class="card">
  <h5 class="card-header">
    Assignments
  </h5>
  <!--check if firmware item is filled and then show name version and status that is given-->
  {% if assignments %}
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Description</th>
            <th>Patch date</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in assignments %}
          <tr>
            <td><a href="{% url 'plugins:netbox_firmware:firmwareassignment' assignment.id %}">{{ assignment }}</a></td>
            <td>{{ assignment.firmware.status }}</td>
            <td>{{ assignment.description }}</td>
            <td>{{ assignment.patch_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="card-body">
      <p class="card-text">No assignments</p>
    </div>
  {% endif %}
</div>