{% load helpers %}
{# renders panel on object (device, module, inventory_item) with firmware info assigned to it #}

<div class="card">
  <h5 class="card-header">
    Firmware
  </h5>
  <!--check if firmware item is filled and then show name version and status that is given-->
  {% if firmware %}
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <p class="card-text">Name: {{ firmware.name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="card-text">File Name: {{ firmware.file_name }}</p>
            </div>
            <div class="col-6">
              <p class="card-text">Status: {{ firmware.status }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="card-body">
      <p class="card-text">No firmware assigned</p>
    </div>
  {% endif %}
</div>