{% load helpers %}
{# renders panel on object (device, module, inventory_item) with firmware info assigned to it #}

<div class="card">
  <h5 class="card-header">
    Firmware
    {# only show reassign button if user has change permissions on firmware #}
    {% if perms.firmware_management.change_firmware %}
      <div class="card-actions">
        {% with object|meta:"model_name" as object_type %}
        {% if object_type == "device" %}
        <a href="{% url 'plugins:firmware_management:firmware_device_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% elif object_type == "module" %}
        <a href="{% url 'plugins:firmware_management:firmware_module_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% elif object_type == "inventoryitem" %}
        <a href="{% url 'plugins:firmware_management:firmware_inventoryitem_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% elif object_type == "rack" %}
        <a href="{% url 'plugins:firmware_management:firmware_rack_reassign' object.pk %}" class="btn btn-sm btn-ghost-orange">
        {% endif %}
        {% endwith %}
          <i class="mdi mdi-vector-link" aria-hidden="true"></i> Edit Assignment
        </a>
      </div>
    {% endif %}
  </h5>
  {% if firmware %}
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row"><span title="Firmware name">Name</span></th>
      <td><a href="{% url "plugins:firmware_management:firmware" firmware.pk %}">{{ firmware.hardware_type.manufacturer }} {{ firmware }}{% if firmware.name %} ({{ firmware.name }}){% endif %}</a></td>
    </tr>
    <tr>
      <th scope="row"><span title="Firmware status">Status</span></a></th>
      <td>{% badge firmware.get_status_display bg_color=firmware.get_status_color %}</a></td>
    </tr>
  </table>
  {% else %}
  <div class="card-body"><span class="text-muted">None assigned</span></div>
  {% endif %}
</div>